# Packaging
dist
deploy.sh

# Eclipse
.settings
.project
.pydevproject
.dbeaver-data-sources.xml

# SQL
Script*

# Testing and coverage
.pytest_cache
bag3d.egg-info
.coverage
*html
*.Rproj
*.RData
*.Rhistory
*.Rmd

# Sphinx
docs/_build

# Logs
*.log

# Docker
.Rproj.user

# Data
example_data/polys
example_data/ahn2/las
example_data/ahn3/las
*.qgz
*.qgs*
