[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
Shapely = "*"
Fiona = "*"
PyYAML = ">4.2b"
Sphinx = "*"
lxml = "*"
"bs4" = "*"
pykwalify = "*"
#numpy = "*"
#rasterstats = "*"
sphinx-jsonschema = "*"
psutil = "*"
memory-profiler = "*"
bag3d = {editable = true,path = "."}

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-cov = "*"
coverage = "*"
sphinx-rtd-theme = "*"
