[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2" = "*"
Shapely = "*"
Fiona = "*"
PyYAML = "*"
Sphinx = "*"
"e1839a8" = {path = ".", editable = true}
lxml = "*"
"bs4" = "*"
pykwalify = "*"
numpy = "*"
rasterstats = "*"
sphinx-jsonschema = "*"
psutil = "*"

[requires]
python_version = "3.6"

[dev-packages]
pytest = "*"
"pytest-pep8" = "*"
pytest-cov = "*"
coverage = "*"
sphinx-rtd-theme = "*"
